{% extends "poll/base.html" %}

{% block title %}HEAL-Link Επιλογή Βασικής Ομάδας{% endblock %}

{% block main %}
<div id="wrap" class="body-first-time">
  <div class="form-first-time-container">
    <div class="container">

      <form class="form-first-time" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
          <legend>Επιλογή Βασικής Ομάδας</legend>
          <label for="id_subject_area">Βασική Ομάδα:</label>
          {{ form.subject_area}}
          <div>
            <button class="btn btn-large btn-primary"
                    type="submit">Υποβολή</button>
          </div>
        </fieldset>
      </form>

            <p>Για να συνεχίσετε στην εφαρμογή, θα πρέπει να επιλέξετε τη
        βασική ομάδα στην οποία κατατάσσεται θεματικά η έρευνα που διεξάγεται
        στο πλαίσιο του ερευνητικού σας προγράμματος.
        Συγκεκριμένα, οι πιο γνωστοί τίτλοι των ξενόγλωσσων επιστημονικών
        περιοδικών έχουν κατηγοριοποιηθεί σε επτά (7) θεματικές κατηγορίες:
        </p>
      <dl class="dl-horizontal">
        <dt>Ομάδα 1</dt>
        <dd>Ανθρωπιστικές Επιστήμες, Επιστήμες Εκπαίδευσης,
          Επιστήμες Πολιτισμού&mdash;Εικαστικές Επιστήμες&mdash;Καλές Τέχνες
          </dd>
        <dt>Ομάδα 2</dt>
        <dd>Βιολογικές και ιατρικές επιστήμες</dd>
        <dt>Ομάδα 3</dt>
        <dd>Γεωτεχνικές επιστήμες, ενεργειακές, περιβαλλοντικές και
          διαστημικές επιστήμες
          </dd>
        <dt>Ομάδα 4</dt>
        <dd>Επιστήμες μαθηματικών, φυσικής, χημείας</dd>
        <dt>Ομάδα 5</dt>
        <dd>Επιστήμες Μηχανικών, Επιστήμες πληροφορικής και
          τηλεπικοινωνιών
          </dd>
        <dt>Ομάδα 6</dt>
        <dd>Κοινωνικές, Διοικητικές και Οικονομικές Επιστήμες</dd>
        <dt>Ομάδα 7</dt>
        <dd>Άλλες θεματικές κατηγορίες</dd>
      </dl>

    </div> <!-- container -->
  </div>
  <div id="push"></div>
</div> <!-- wrap -->
{% endblock main %}
</html>
