{% extends "poll/base.html" %}

{% block title %}Οδηγίες{% endblock %}

{% block nav-help%}active{% endblock %}

{% block content %}

<p>
 Η διαδικασία συμπλήρωσης των απαντήσεων είναι σχετικά απλή.
 Συγκεκριμένα, οι πιο γνωστοί τίτλοι των ξενόγλωσσων επιστημονικών
 περιοδικών έχουν κατηγοριοποιηθεί σε επτά (7) θεματικές κατηγορίες:
</p>
<dl class="dl-horizontal">
  <dt>Ομάδα 1</dt>
  <dd>Ανθρωπιστικές Επιστήμες, Επιστήμες Εκπαίδευσης,
  Επιστήμες Πολιτισμού&mdash;Εικαστικές Επιστήμες&mdash;Καλές Τέχνες
  </dd>
  <dt>Ομάδα 2</dt>
  <dd>Βιολογικές και ιατρικές επιστήμες</dd>
  <dt>Ομάδα 3</dt>
  <dd>Γεωτεχνικές επιστήμες, ενεργειακές, περιβαλλοντικές και
    διαστημικές επιστήμες
  </dd>
  <dt>Ομάδα 4</dt>
  <dd>Επιστήμες μαθηματικών, φυσικής, χημείας</dd>
  <dt>Ομάδα 5</dt>
  <dd>Επιστήμες Μηχανικών, Επιστήμες πληροφορικής και
    τηλεπικοινωνιών
  </dd>
  <dt>Ομάδα 6</dt>
  <dd>Κοινωνικές, Διοικητικές και Οικονομικές Επιστήμες</dd>
  <dt>Ομάδα 7</dt>
  <dd>Άλλες θεματικές κατηγορίες</dd>
</dl>

<p>
  Οι τίτλοι έχουν ταξινομηθεί με βάση τη δημοφιλία τους, η οποία
  καθορίζεται από τον αριθμό των μεταφορτώσεων σε επίπεδο άρθρου κατά
  το έτος 2012.
</p>

<p>
  Ο χρήστης όταν μπει για πρώτη φορά στην εφαρμογή πρέπει να επιλέξει τη
  βασική oμάδα στην οποία κατατάσσεται θεματικά η διεξαγόμενη έρευνα στο
  πλαίσιο του χρηματοδοτούμενου προγράμματος. Στη συνέχεια μεταφέρεται
  απευθείας στην ομάδα που επέλεξε και η οποία περιέχει τη λίστα με τους
  τίτλους των επιστημονικών περιοδικών που σχετίζονται περισσότερο με το
  θεματικό αντικείμενο του χρηματοδοτούμενου προγράμματος. Σε αυτή&mdash;και
  μόνο σε αυτή&mdash;τη λίστα επιστημονικών περιοδικών έχουν προεπιλεγεί για
  το χρήστη οι εκατό (100) πιο δημοφιλείς τίτλοι. Σε κάθε περίπτωση, ο
  χρήστης έχει τη δυνατότητα να τους από-επιλέξει μαζικά ή μεμονωμένα,
  όταν δεν ταιριάζουν με το θεματικό αντικείμενο της έρευνας.
  </p>
<p>
  Ο κάθε τίτλος επιστημονικού περιοδικού που επιλέγεται, προστίθεται
  στην περιοχή <a href="{% url 'cart' %}">Επιλογές</a>, με ιεράρχηση η
  οποία προκύπτει από τη σειρά επιλογής. Ο χρήστης μπορεί (και πρέπει)
  να συμπληρώσει τις <a href="{% url 'cart' %}">Επιλογές</a> του όχι
  μόνο από τη βασική θεματική oμάδα, αλλά και από οποιαδήποτε άλλη
  είναι σχετική με το αντικείμενο της διεξαγόμενης έρευνας. Η
  περιήγηση στις θεματικές oμάδες πραγματοποιείται με την επιλογή τους
  από το πάνω μέρος της σελίδας (tabs).
</p>
<p>
  Υπάρχει η δυνατότητα για
  <a href="{% url 'search_journals'%}">Αναζήτηση</a>
  όπου ο χρήστης ψάχνει με λέξεις-κλειδιά και
  εντοπίζει ευκολότερα τα επιστημονικά περιοδικά που τον ενδιαφέρουν.
  Αφού ο χρήστης ολοκληρώσει τη συμπλήρωση των επιλογών του, έχει τη
  δυνατότητα της αναδιάταξής τους (μετακίνηση πάνω κάτω), ώστε να
  καθορίσει με μεγαλύτερη ακρίβεια τη σειρά προτίμησης (ιεραρχία
  σπουδαιότητας). Για τη διευκόλυνση του χρήστη δίνεται η δυνατότητα
  να καταχωρίσει τις απαντήσεις του σταδιακά, ώστε να επανέρχεται στο
  σύστημα με τους κωδικούς του, όποτε είναι εφικτό γι' αυτόν, ή εξ’
  ολοκλήρου, σε μία συνεδρία. Το πληροφοριακό σύστημα αποθηκεύει κάθε
  αλλαγή του χρήστη και δεν απαιτεί κάποια λειτουργία αποθήκευσης, ενώ
  ως τελικά αποτελέσματα από το χρήστη θεωρούνται οι απαντήσεις που ο
  τελευταίος έχει δώσει τη χρονική στιγμή ολοκλήρωσης της έρευνας.
  </p> 
  
{% endblock %}

