{% extends "poll/base.html" %}

{% block title %}Λίστα Περιοδικών{% endblock %}

{% block nav-journals %}active{% endblock %}

{% block content %}
  <h1>Λίστα Περιοδικών</h1>
  {% if journal_list %}
    <ul class="nav nav-tabs">
      {% for subject_area in subject_area_list  %}
        <li {% if subject_area.id == active_subject_area.id %}
            class="active"
            {% endif %}
            >
          <a href="{% url 'journals_subject_area' subject_area.id %}"
             rel="tooltip"
             data-placement="top"
             title="{{ subject_area }}"
             >Ομάδα {{ forloop.counter }}<br>
             </a>
        </li>
      {% endfor %}          
    </ul>
    <h4>{{ active_subject_area.name }}</h4>
    {% include "poll/journals_table.html" %}
  {% else %}
    <p>Δεν βρέθηκαν περιοδικά</p>
  {% endif %}
{% endblock %}

