{% extends "poll/base.html" %}

{% block title %}HEAL-Link Είσοδος{% endblock %}

{% block main %}
<div id="wrap" class="body-signin">
  <div class="form-signin-container">
    <div class="container">

      <form class="form-signin" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <h2 class="form-signin-heading">Στοιχεία Εισόδου</h2>
        {{ form.username.errors }}
        <input type="text" class="input-block-level"
               placeholder="Όνομα χρήστη"
               name="username"
               id="id_username"
               value="{{ form.username.value|default:'' }}"/>
        {{ form.password.errors }}
        <input type="password" class="input-block-level"
               placeholder="Κωδικός"
               name="password"
               id="id_password"/>
         <center>
         <button class="btn btn-large btn-primary"
                 type="submit">Είσοδος
         </button>
         </center>
      </form>
            <p>
        Στην παρούσα έρευνα καλούνται να συμμετέχουν όλοι οι επιστημονικοί
        υπεύθυνοι/συντονιστές των Ερευνητικών Δράσεων/Προγραμμάτων που
        χρηματοδοτούνται από το Επιχειρησιακό Πρόγραμμα &laquo;Εκπαίδευση
        &amp; Δια Βίου Μάθηση&raquo; του Υπουργείου Παιδείας & Θρησκευμάτων,
        Πολιτισμού και Αθλητισμού.
      </p>
      
      <p>
        Στόχος της έρευνας είναι η συγκέντρωση και η καταγραφή των
        ξενόγλωσσων τίτλων επιστημονικών περιοδικών που είναι
        απαραίτητα για τη διεξαγωγή της ερευνητικής διαδικασίας στο
        πλαίσιο του χρηματοδοτούμενου προγράμματος που αναγράφεται
        στην πρόσκληση που λάβατε μέσω ηλεκτρονικού
        ταχυδρομείου.
      </p>

      <p>
        Στην περίπτωση που λάβατε παραπάνω από μία προσκλήσεις για
        διαφορετικά Προγράμματα/Δράσεις, απαντήστε
        σε καθεμία από αυτές ξεχωριστά και ανάλογα με τις ειδικές
        απαιτήσεις σε πηγές επιστημονικής πληροφόρησης.
     </p>
            
    </div> <!-- container -->
  </div>
  <div id="push"></div>
</div> <!-- wrap -->
{% endblock main %}
</html>
