{% extends "poll/base.html" %}

{% block title %}Στοιχεία Χρήστη{% endblock %}

{% block nav-user %}active{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post">{% csrf_token %}
    <legend>Στοιχεία Χρήστη</legend>
   {% if form.changes_saved %}
      <p class="text-success">
        Οι αλλαγές αποθηκεύτηκαν επιτυχώς.
      </p>
    {% endif %}    
    {{ form.non_field_errors }}
    <div class="control-group">
      <label class="control-label" for "id_username">Λογαριασμός</label>
      <div class="controls">
        {{ form.username.errors }}        
        {{ form.username }}
      </div>
    </div>    
    <div class="control-group">
      <label class="control-label" for "id_first_name">Όνομα</label>
      <div class="controls">
        {{ form.first_name.errors }}        
        {{ form.first_name }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for "id_last_name">Επώνυμο</label>
      <div class="controls">
        {{ form.last_name.errors }}        
        {{ form.last_name }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for "id_email">e-mail</label>
      <div class="controls">
        {{ form.email.errors }}        
        {{ form.email }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_subject_area">Βασική
      Ομάδα</label>
      <div class="controls">
        {{ form.subject_area.errors }}
        {{ form.subject_area}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{ form.password.errors }}
        {{ form.password}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{ form.confirm_password.errors}}        
        {{ form.confirm_password}}
      </div>
    </div>    
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-large btn-primary"
                type="submit">Υποβολή
        </button>
      </div>
    </div>
  </form>
{% endblock %}

